{% extends 'base.html' %}

{% block app_content %}
    <div class="title_content content">
        <p class="title_error">{{ error_text }}</p>
        <div class="container">
            <form action="" method="post">
                <div class="parameters">
                    <label class="btn_submit" for="btn_submit">
                        <input type="submit" name="btn_submit" value="Создать жизнь">
                    </label>
                    <label class="label_width" for="input_width">
                        Ширина
                        <input type="number" name="input_width" value="50" size="24" min="4" max="100">
                    </label>
                    <p></p>
                    <label class="label_height" for="input_height">
                        Высота
                        <input type="number" name="input_height" value="50" size="24" min="4" max="100">
                    </label>
                </div>
            </form>
        </div>
    </div>
{% endblock %}